{% extends "store/base.html" %}
{% load static %}

{% block title %}Harley Nemeth Art{% endblock %}

{% block content %}
        <div class="banner-container">
            <div class="floating-gallery">
                <img src="{% static 'images/stipple.jpg' %}" class="float-img">
                <img src="{% static 'images/guashe.jpg' %}" class="float-img">
                <img src="{% static 'images/rose.jpg' %}" class="float-img">
                <img src="{% static 'images/olivia.jpg' %}" class="float-img">
                <img src="{% static 'images/kai.jpg' %}" class="float-img">
                <img src="{% static 'images/ikigai_crop2.jpg' %}" class="float-img">
                <img src="{% static 'images/xxx.jpg' %}" class="float-img">
                <img src="{% static 'images/sza.jpg' %}" class="float-img">
            </div>
                <img src="{% static 'images/Harley_Nemeth_Logo.png' %}" class="banner-title" alt="Harley Nemeth Art Logo">
                <p class="banner-motto">Creating art to spread joy and inspiration.</p>
                <button id="scroll-featured" class="banner-button">See Featured Art</button>
            </div>
        <div class="container-fluid py-5">
            {% if about %}
                <h2 class="text-center mb-4">{{ about.heading }}</h2>
                <div class="row align-items-center justify-content-center gy-4 about-section px-3">
                    <div class="about-copy col-lg-5 order-lg-1">
                        <p class="p1">Hello!</p>
                        <p class="p1">{{ about.paragraph_1 }}</p>
                        <p class="p2">{{ about.paragraph_2 }}</p>
                        <div class="text-center mt-3">
                            <a class="view-art btn" href="{% url 'store' %}">View Art</a>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-2 text-center">
                        <img src="{{ about.image_url }}" class="about img-fluid" alt="about image">
                    </div>
                </div>
            {% endif %}

            <section class="featured-art text-center mt-5">
                <h2 id="featured-art" class="mb-4">Featured Art</h2>
                {% if featured %}
                    <img src="{{ featured.image_url }}" class="featured img-fluid mb-3" alt="{{ featured.title }}">
                    <h3 class="p1">{{ featured.title }}</h3>
                    <p class="p2 mx-auto" style="max-width: 900px;">{{ featured.description }}</p>
                {% endif %}
            </section>
        </div>
{% endblock %}